
.wrapper {
    display: flex;
    position: relative;
}

.wrapper .sidebar {
    position: fixed;
    height: 79.5%;
    width: 200px;
    background-color: white;
    padding: 100px 30px;
    border-right-style: solid;

    border-color:#ef5d57 ;
}

.wrapper .main-content {
    width: 100%;
    margin: 100px 300px 249px ;
}

.main-content img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
}



.wrapper {
    display: flex;
    position: relative;
}

.wrapper .sidebar {
    position: fixed;
    height: 79.5%;
    width: 200px;
    background-color: white;
    padding: 100px 30px;
    border-right-style: solid;
    border-color:#ef5d57 ;
}

.wrapper .main-content {
    width: 100%;
    margin: 100px 300px 249px ;
}

.main-content img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

nav {
    background-color:#ef5d57;
    
}

.info h1
{
    padding-right: 100px;
}



* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(197, 196, 196);
    overflow: hidden;
}


footer {
    padding: 10px 30px;
    background-color:#ef5d57;
    color: white;
}

.navbar-nav {
    padding-left: 80px;
}

.wrapper .main-content-links {
    width: 100%;
    margin: 100px 300px 370px ;
}

.ulist {
    padding-left: 40px;
}

.login a{
   float:right;
}

.wrapper .main-content-tutlinks {
    width: 100%;
    margin: 100px 300px 410px;
}
