.header {
    background: #f44;
    height: 50px;
    
}

#text-col a
{
    padding-left: 100px;
    color:rgb(255, 254, 255);
    font-size: 20px;
    
    
}



.header img
{
    padding-top: 10px;
    width: 200px;
    height: 40px;
}


.login a
{
    color:rgb(255, 254, 255);
    font-size: 20px;
}





.footer {
    position: fixed;
    bottom:0;
    height: 40px;
    width: 100%;
    background: #f44;
    color: white;
    padding-top: 10px;
    padding-right: 0;
}

.main {
    height: 100%;
    
}

#mainc
{
    height: 100%;
    border-left-style: solid;
    padding: 0;
    border-color: #ef5d57
}

#side
{
    height:200px;
    
}

.content h1
{
    padding-top: 40px;
}

.content {
    background-color: lightgrey;
    bottom: 40px;
    top:0px;
    right:0px;
    
}



/* Sidebar Styles */
.sidebar {
    position: fixed;
    left: 0;
    
}

.sidebar-nav {
    list-style: none;
}

.sidebar-nav p {
    text-indent: 60px;
    line-height: 40px;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: gray;
    /* color: #999999; */
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #f44;
    /* background: rgba(255,255,255,0.2); */
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    color: #f44;
    text-decoration: none;
}